@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* DM Sans Font */
.dm-sans-regular {
    font-family: "DM Sans", sans-serif; /* Use 'sans-serif' as fallback */
    font-optical-sizing: auto;
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  .dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }

  .dm-sans-semi-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .dm-sans-italic {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic; /* Italic style */
  }


  .pacifico-regular {
    font-family: "Pacifico", cursive; /* Use 'cursive' as fallback */
    font-weight: 400;
    font-style: normal;
  }

  .pacifico-bold {
    font-family: "Pacifico", cursive; /* Use 'cursive' as fallback */
    font-weight: 700;
    font-style: normal;
  }