---
import Layout from "../layouts/Layout.astro";
import { ProductCard } from "../components/shop/ProductCard";
import { authApi } from "../utils/api";
import type { Product } from "../types/product";

const products = await authApi.getProducts();
---

<Layout title="Shop | Crochet by Amisha">
  <div class="container mx-auto px-4 pb-8 pt-[6rem]">
    <h1 class="text-3xl pacifico-bold text-center mb-8 text-pink-500">Our Products Collection</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
      {products.map((product: Product) => (
        <ProductCard product={product} client:load />
      ))}
    </div>
  </div>
</Layout>